

/*styling for pg1,2,3*/
#menu {
    color: #e0dddd;
    font-size: small;
  }

  #menu:hover {
    color: #a9b33b;
  }

  #button {
    color: #ffffff;
    background-color: #a9b33b;
    font-size: small;
    border: none;
  }

  #button:hover {
    background-color: #5f6517;
  }

  .navbar-toggler {
    background-color: #a9b33b;
    font-size: small;
    border: none;
  }

  @font-face {
    font-family: 'Ribbon';
    src: url(./assets/fonts/ribbon/Ribbon131BT-Regular.otf);
  }

  #bg1 {
    width: 100vw;
  }

  .best {
    font-family: 'Ribbon';
    font-size: 400%;
    color: #a9b33b;
  }

  .font {
    font-size: 150%;
    line-height: 40px;
    text-transform: uppercase;
    color: #030303;
    font-weight: 700;
    font-family: "Quicksand";
  }

  #card {
    color: #030303;
    background-color: #d9e271;
    font-family: "Quicksand";
  }

  #smallicontxt {
    font-family: "Quicksand";
    color: #404142;
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
    align-content: space-around;
    font-size: smaller;
  }
  #smallicon{
    background-color: #d9e271;
  }

#row2{
  width: 551px;
  height: 63px;
  font-size: 18px;
  line-height: 37px;
  text-transform: uppercase;
  color: #404142;
  font-weight: 700;
  font-family: "Quicksand";
  text-align: center;
}
.real{
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #404142;
  font-weight: 700;
  font-family: "Quicksand";
}
.card:hover{
  transform: scale(1.1);
  transition:ease-out ;
}
 
 /*page 4 with table*/
 #bgcontainer {
  background-color: #f3f4e8;
}

#txtpg4  {
  color: #404142;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Quicksand";
}

#page4content {
  color: #565656;
  font-weight: 700;
  font-family: "Quicksand";
}

.table {
  width: 75%;
  border-style: hidden;
}

.table th {
  background-color: #a9b33b;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #eceed1;
}

#tablepara {
  font-size: 8px;
  font-family: "Quicksand";
}

#plan {
  width: 70%;
  font-family: "Quicksand";
  font-size: 40px;
}

#full {
  width: 15%;
  font-family: "Quicksand";
}

#light {
  width: 18%;
  font-family: "Quicksand";
}

.table thead th:first-child {
  border-top-left-radius: 10px;
}

.table thead th:last-child {
  border-top-right-radius: 10px;
}

#tablecontent {
  font-size: 10px;
  color: #0a0a0a;
  font-weight: 500;
  font-family: "Quicksand";
  white-space: pre-line;
}

td:last-child {
  box-shadow: 0 0.2rem 0.5em rgba(109, 109, 109, 0.4);
}

th:last-child {
  box-shadow: 0 0.2rem 0.5em rgba(0, 0, 0, 0.4);
}

th:nth-child(2) {
  box-shadow: 0 0.2rem 0.5em rgba(0, 0, 0, 0.4);
}

td:nth-child(2) {
  box-shadow: 0 0.2rem 0.5em rgba(109, 109, 109, 0.4);
}

th:nth-child(1) {
  box-shadow: 0 0.2rem 0.2em rgba(0, 0, 0, 0.4);
}

td:nth-child(1) {
  box-shadow: 0 0.2rem 0.2em rgba(0, 0, 0, 0.4);
}

#price {
  font-size: 25px;
  line-height: 14px;
  color: #aab33b;
  font-weight: 700;
  font-family: "Quicksand";
  border-bottom-left-radius: 14px;
}

.bottom {
  box-shadow: 0px 15px 10px -1px rgba(0, 0, 0, 0.4)11;
}

#lastrow {
  font-size: 14px;
  line-height: 30px;
  color: #404142;
  font-weight: 700;
  font-family: "Quicksand";
  white-space: pre-line;
}

.month {
  text-align: right;
}

#lastdata {
  font-size: 14px;
  line-height: 30px;
  color: #404142;
  font-weight: 700;
  font-family: "Quicksand";
  border-bottom-right-radius: 14px;
}

/*css for page 6*/
#bgimg {
  width: 100vw;
}

.centered {
  font-size: 150%;
  line-height: 46px;
  color: #404142;
  font-weight: bolder;
  font-family: "Quicksand";
  text-align: center;
  margin-top: -7%;
  text-decoration: none;
}

#click {
  font-size: 150%;
  font-weight: 900;
  color: black;
  text-decoration: none;
  font-family: "Quicksand";
}

#click:hover {
  color: #5f6517;
}

/* page 6*/
.--card:hover{
  transform: scale(1.1);
  transition:ease-out ;
}
#innercard {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  background-color: #fdffe9;
  margin-left: 50px;
  margin-top:-40px;
  position: relative;
  z-index: 1;
}
#outercard123{
  height: 238px;
}
#innercardtext {
  flex: 1;
}

#innerpara {
  margin-top: auto;
  font-size: 13px;
  color: #313132;
  font-weight: 600;
  font-family: "Quicksand";
}


/*footer style*/
.footer-bg {
  background-image: url(../images/footerbg.png);
}

.font-2 {
  width: 260px;
  height: 130px;
  font-size: 14px;
  line-height: 22px;
  color: #404142;
  font-weight: 400;
  font-family: "Quicksand";
}

.font-3 {
  font-size: 70%;
  color: #404142;
  font-family: "Quicksand";
}

.font-4,
.font-5 {
  font-size: 70%;
  color: #404142;
  font-weight: 500;
  font-family: "Quicksand";
}

.font-bg-4,
.font-bg-5 {
  color: black;
  text-decoration: none;
}

.font-bg-4:hover,
.font-bg-5:hover {
  color: #848d00;
}

.but-footer {
  color: #ffffff;
  background-color: #acb643;
  font-size: small;
  border: none;
}

.but-footer:hover {
  background-color: #8b9429;
}

#fav {
  color: #a8b336;
}

#fav-2 {
  color: white;
}

.form-control {
  border: none;
  outline: 0px;
}

#addon-wrapping {
  background-color: #acb643;
}

#footerid{
  background-color: #aab33c;
}
#footertxt{
font-size: 13px;
letter-spacing: 2px;
font-weight: 500;
font-family: "Quicksand";
}

form .error{
  color: #4c5504;
}
