#menu {
    color: #e0dddd;
    font-size: small;
  }

  #menu:hover {
    color: #a9b33b;
  }

  #button {
    color: #ffffff;
    background-color: #a9b33b;
    font-size: small;
    border: none;
  }

  #button:hover {
    background-color: #5f6517;
  }

  .navbar-toggler {
    background-color: #a9b33b;
    font-size: small;
    border: none;
  }

  @font-face {
    font-family: 'Ribbon';
    src: url(./assets/fonts/ribbon/Ribbon131BT-Regular.otf);
  }

  #bg1 {
    width: 100vw;
  }

  .best {
    font-family: 'Ribbon';
    font-size: 400%;
    color: #a9b33b;
  }

  .font {
    font-size: 150%;
    line-height: 40px;
    text-transform: uppercase;
    color: #030303;
    font-weight: 700;
    font-family: "Quicksand";
  }

  #card {
    color: #030303;
    background-color: #d9e271;
    font-family: "Quicksand";
  }

  #smallicontxt {
    font-family: "Quicksand";
    color: #404142;
    font-weight: 900;
    font-size: large;
    text-transform: uppercase;
  }
  #smallicon{
    background-color: #d9e271;
  }


 
 /*css for contents in page 4*/
 #bgcontainer {
  background-color: #f3f4e8;
}

#txtpg4  {
  color: #404142;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Quicksand";
}

#page4content {
  color: #565656;
  font-weight: 700;
  font-family: "Quicksand";
}

/*table style*/
.table {
  width: 75%;
  border-style: hidden;
}

.table th {
  background-color: #a9b33b;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #eceed1;
}

#tablepara {
  font-size: 8px;
  font-family: "Quicksand";
}

#plan {
  width: 70%;
  font-family: "Quicksand";
  font-size: 40px;
}

#full {
  width: 15%;
  font-family: "Quicksand";
}

#light {
  width: 18%;
  font-family: "Quicksand";
}

.table thead th:first-child {
  border-top-left-radius: 10px;
}
.table thead th:last-child {
  border-top-right-radius: 10px;
}

#tablecontent {
  font-size: 11px;
  line-height: 14px;
  color: #404142;
  font-weight: 500;
  font-family: "Quicksand";
  white-space:pre-line;
}
